doctype html
html
  head
    meta(charset="utf-8")
    title О нас
  body
    div.main-wrapper
      include components/header.pug
      div.container
        div.content
          h1.main О нас
          p Наша компания более 15 лет профессионально оказывает услуги в сфере интернет-маркетинга и веб-разработки. Мы разрабатываем продающие сайты и проводим комплексные рекламные кампании в интернете.
          p Мы работаем в четырех основных направлениях: разработка и дизайн сайтов, оптимизация и продвижение сайтов, организация рекламы в интернете.
          p Начиналась компания с 3 человек. Сегодня наша команда объединяет более 50 специалистов.
          p Наша компания входит в число лидеров рынка разработки сайтов на платформе «1С-Битрикс». За время работы мы реализовали более 2000 интернет-проектов от простых сайтов-визиток до сложных IT-порталов и сервисов. Ежемесячно запускается более 150 рекламных кампаний.
          p Внимательное отношение к клиентам, оперативность и слаженность в работе, нестандартные и креативные решения, современная технологическая база и собственные разработки, высокопрофессиональные специалисты, которые в совершенстве владеют интернет-технологиями — главные составляющие, формирующие лицо нашей компании.
          p Благодаря своим преимуществам мы получаем самое ценное — доверие клиентов и признание профессионального сообщества.
      include components/footer.pug