doctype html
html
  head
    meta(charset="utf-8")
    title Контакты
  body
    div.main-wrapper
      include components/header.pug
      div.container
        div.content
          h1.main Контакты
          div.contacts
            ul.contacts__items 
              li.contacts__item Москва
              li.contacts__item ул. Люсиновская, д. 39
              li.contacts__item +7 (495) 128-19-48
      include components/footer.pug