doctype html
html
  head
    meta(charset="utf-8")
    title Создание и продвижение сайтов
  body
    div.main-wrapper
      include components/header.pug
      div.container
        div.content
          h1.main Создание и продвижение сайтов
          p Наша компания занимается созданием и продвижением сайтов в интернете, оказываем услуги в области интернет-маркетинга. Мы не просто приводим новых посетителей на ваш сайт, наша цель - сделать из них ваших клиентов. Каждый разработанный нами проект решает задачи бизнеса. 
          h2 Мы делаем маркетинг понятным, предсказуемым и доступным для предпринимателей
          ul
            li Контекстная и таргетированная реклама, социальные сети, SEO-продвижение, ретаргетинг
            li Позиционирование, стратегия и ключевые смыслы
            li Адаптация под ваши бизнес, мощный функционал, быстрая загрузка страниц
            li Управление задачами и автоматизация продаж с помощью Битрикс24
          h2 Мы делаем маркетинг понятным, предсказуемым и доступным для предпринимателей
          p Получите бесплатный аудит бизнеса. И узнайте, какие инструменты будут эффективны в вашем случае.
          ul
            li Проанализируем вашу сферу и конкурентов, расскажем, как выделиться
            li Сделаем медиаплан с точной стоимостью маркетинговых инструментов, которые будут эффективны для вашего бизнеса
            li Подготовим рекомендации по улучшению вашей рекламной кампании в интернете
          h2 Разработка и раскрутка сайтов
          p Мы предлагаем изготовление сайтов, а еще создание продающих ресурсов, имеющих систему управления, разрабатываем WEB - дизайн, а также предлагаем техническую поддержку и продвижение сайтов в поисковых системах. У нас Вы можете оформить заказ на полноценный коммерческий сайт, для этого вам нужно всего лишь нажать на кнопку "Заказать".
      include components/footer.pug